{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" /><script src="/static/automagically/jquery/jquery-1.8.2.min.js"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<script>
  function checkUp() {
    testIfUp();
    setTimeout(checkUp, 10000);
  }
  
  function testIfUp() {
    $.getJSON("/revision/", function(data) {
      if(data.success == true){
        alert("System update done! " + data.revision);        
        document.location.href='/admin/';
      }
    });
  }

  $(document).ready(function(event) {
    setTimeout(checkUp, 60000);
  });

</script>

<h1>System software update ordered</h1>
Your system will now reboot and come up with the latest version of the software.<p>
<b>This will take several minutes. You will be alerted by a message box here when everything is done. Do NOT power off your Raspberry Pi now.</b> Wait at least 5 minutes before doing something like that.

{% endblock %}
{% block sidebar %}
{% endblock %}
